<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Employee CMS</title>
</head>

<!-- temp styles -->
<style>
    .brand-logo {
      font-size: small!important;
      color: #162334!important;
      padding-left: 3rem!important;
      font-weight: bold;
    }
    .search {
      max-width: 100px;
      margin-left: 17rem!important;
      border: none!important;
    }
    nav {
      background-color: white;
      box-shadow: none!important;
    }
    h1 {
        text-align: center;
        font-size: large;
        font-family: 'Open Sans';
    }
    h3 {
        text-align: center;
        font-size: small;
        font-family: 'Open Sans';
    }
    .row {
      background-color: aliceblue;
    }
    .row-2 {
      background-color: white;
    }
    aside {
      display: flex;
      justify-content: center;
      height: 100vh;
      background-color: #162334;
    }
    li {
      color: whitesmoke;
      text-align: center;
      padding: 1rem;
    }
    #main {
      text-align: center;
      background-color: white;
    border-radius: 8px!important;
    padding: 2rem;
    margin: 1rem auto;
    }
</style>

<body>

    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo left">Employee CMS</a>
            <input class="search" type="text" placeholder="Search..">
          </div>
        </nav>
      </div>
    
      <div class="row">
        <aside class="col s3">
          <ul>
            <li>Dashboard</li>
            <li>Employees</li>
            <li>Managers</li>
            <li>Roles</li>
            <li>Projects</li>
            <li>Salaries</li>
          </ul>
        </aside>
        <div class="col s9">
          <div class="row-2">
            <div id="main" class="col s10">
          <h1>The Employee CMS</h1>
          <h3>This is where employees can view their submissions</h3>
           </div>
         </div>
        </div>
        <div class="row-2">
        <div id="main" class="col s6">
         
        </div>
        </div>
      </div>
    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>